venv_finance/
.venv/
__pycache__/
*.pyc
Data/pdata
# Streamlit secrets (keep local)
.streamlit/secrets.toml
ApplyCat.py
tables.py
pbi1.pbix
finance_tableold.xlsx
old_data/
boa.csv
process_transactions.py
transactions.xlsx
